footer {
  bottom: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 10%;
}


.footer__text {
  color: #6dacbf;
  font-size: 1.5rem;
}

.media__icons {
  display: flex;
  gap: 10px;
  font-size: 2rem;
}

@media (max-width: 450px) {
  footer {
    position: fixed;

  }

}
