.artwork-page-title {
  font-size: 3rem;
  text-align: center;
  margin-top: 5%;
}

.artwork-page-description {
  font-size: 2rem;
  text-align: left;
  margin: 2%;
}


.artwork-image-list {
  display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }


.artwork-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
